
<br><br><br><br><br>

<!--<h3>Home</h3>-->

<!--<h2>Edw einai to home</h2>-->

<!--POLY SHMANTIKO: TO GAMHMENO TO jumbotron-->
<!--NA EINAI EXW APO TO container,-->
<!--GT EIDALLIWS DEN EMFANIZETAI STO 100%-->
<!--THS OTHONHS, ALLA SE ENA 85%-->

<div class="jumbotron" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1></h1>
                <h1><i></i></h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="jumbotron2">
        <div class="row">
            <div class="col-sm-6">
                <div><img  src="../img/logoGK3.png" class="img-responsive center-block"></div>
            </div>
            <div class="col-sm-6">
                <h2>Γραφειο Μελετών - Κατασκευών </br> Ιδιωτικών & Δημoσίων Έργων</h2>
                </br></br>
                <h4><strong>Αποστολή μας:</strong> Η άνετη κατοικία σας</h4>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron3">
    <div class="container-fluid text-center">
        <br>
        <h2>Υπηρεσίες</h2>
        <br><br><br>
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-home"></span>
                <h4>Οικοδομικές Άδειες - Άδειες Δόμησης</h4>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-file"></span>
                <h4>Νομιμοποιήσεις - Τακτοποιήσεις Αυθαιρέτων</h4>
                <p></p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-camera"></span>
                <h4>Εξαρτημένα Τοπογραφικά Διαγράμματα</h4>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-globe"></span>
                <h4>Ενεργειακά Πιστοποιητικά</h4>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-briefcase"></span>
                <h4>Άδειες Λειτουργίας</h4>
                <p></p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-wrench"></span>
                <h4>Κατασκευές Kτιρίων</h4>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron2">
    <div class="container-fluid text-center bg-grey">
        <h2>Έργα</h2>
        <h4>Όλοκληρωμένα & Υπό Εξέλιξη</h4>
        <div class="row text-center">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="./img/agDimitrios/agDim1.jpg" alt="aD">
                    <p><strong>Εξοχική Κατοικία</strong></p>
                    <p>Άγιος Δημήτριος Ευβοίας </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="./img/pirgi/prg1.jpg" alt="pg">
                    <p><strong>Διώροφη Οικοδομή με 2 Ανεξάρτητες Κατοικίες</strong></p>
                    <p>Πυργί Ευβοίας</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="./img/zarka/zrk1.jpg" alt="zr">
                    <p><strong>Μονοκατοικία</strong></p>
                    <p>Ζάρακες Ευβοίας</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-grey">
    <h2 class="text-center">ΕΠΙΚΟΙΝΩΝΙΑ</h2>
    <div class="row">
        <div class="col-sm-5 ">
            <p><span class="glyphicon glyphicon-map-marker"></span>  Μ.Αλεξάνδρου 1, Αλιβέρι</p>
            <p><span class="glyphicon glyphicon-phone"></span>  1)694 8785575   2)2223051235</p>
            <p><span class="glyphicon glyphicon-envelope"></span>  karakaxisgeo@yahoo.gr</p>
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-default pull-right" type="submit">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>