
<nav class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="100">
    <div class="container">
        <a class="navbar-brand"><img src="../img/logoGK.png" alt="lg"> </a>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right" id="myNavbar2">
                <li><a><img src="../img/phoneIcon.png">694 8785575</a>
                </li>
                <li><a><img src="../img/mailIcon.png"> karakaxisgeo@yahoo.gr</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li ng-class='{ active : PAGE === "home" }'><a href="/home"> Αρχική  </a></li>
                <li ng-class='{ active : PAGE === "services" }'><a href="/home"> Υπηρεσίες  </a></li>
                <li ng-class='{ active : PAGE === "erga" }'><a href="/erga"> Έργα  </a></li>
                <li ng-class='{ active : PAGE === "law" }'><a href="/home"> Νομοθεσία  </a></li>
                <li ng-class='{ active : PAGE === "contact" }'><a href="/contact"> Επικοινωνία  </a></li>
            </ul>
        </div>
    </div>
</nav>

